doctype html
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 和日咖啡
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous')
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", href="favicon.ico")
    body
        nav.navbar.diable 
            .container-fluid
                a.navbar-brand(href='#')
                    img.icon(src="img/logo.svg")
                    h1 
                        | 和
                        span 日
                        | 咖啡
                label(for="nav-list")
                    svg(viewBox="-12 -16 50 50")
                        line(x1="0" y1="0" x2="24" y2="0")
                        line(x1="0" y1="8" x2="24" y2="8")
                        line(x1="0" y1="16" x2="24" y2="16")
                input#nav-list(type="checkbox") 
                ul.nav-list
                    li.nav-list-item 
                        a.nav-list-item-link(href='#about') 關於
                    li.nav-list-item 
                        a.nav-list-item-link(href='#menu') 菜單
                    li.nav-list-item 
                        a.nav-list-item-link(href='#location') 門市
                    li.nav-list-item 
                        a.nav-list-item-link(href='recruit.html') 人才招募
                    li.nav-list-item 
                        a.nav-list-item-link(href='contact.html') 聯絡我們
        header#header_index.diable
            .container-fluid
                .circle
                .logo
                    img.icon(src="img/logo.svg")
                    h1
                        | 和
                        span 日
                        | 咖啡
                    h3 手沖咖啡專賣
                .arrow  
                    | V
                    br 
                    |V
            .block
            .block.block1
        section#about.diable 
            .container
                img#bird(src="img/bird_left.svg")
                #bean(data-bottom-center="opacity: 0;" data--120-bottom-center="opacity: 1;")
                .row 
                    .col-xl-3.col-lg-3.photo(data-bottom-center="transform:translateX(-60px);opacity: 0;" data--120-bottom-center="transform:translateX(0px);opacity: 1;")
                        img.r1img(src="img/about.jpg")
                    .col-xl-9.col-lg-9(data-bottom-center="transform:translateX(80px);opacity: 0;" data--120-bottom-center="transform:translateX(0px);opacity: 1;")
                        .article
                            h1.r1text 關於和日
                                .tittle
                            hr.r1img
                            p.r2text 和日咖啡源於繁華都市中的一個小角落，我們就像是藝術家，以濃郁的咖啡香氣和精心烘焙的咖啡豆來為您創造完美的咖啡體驗，每杯咖啡都是由經驗豐富的咖啡師手工沖泡而成。
                            p.r1text 「 咖啡的陪伴，生活的滋味 」 ― 和日咖啡創辦人
            .block
            .block.block1           
        section#service.diable
            .container
                .row
                    .col-xl-4.col-lg-4.col-md-9(data-bottom-center="transform:translateY(80px);opacity: 0;" data--120-bottom-center="transform:translateY(0px);opacity: 1;")
                        .item
                            h2 放鬆的場所
                                .tittle
                            img(src="img/service_1.jpg")
                            p 店內提供寧靜的氛圍，舒適的座位和柔和的燈光讓您可以盡情放鬆，適合與親朋好友一同品味美味的咖啡和輕食，或是獨自享受閱讀時光，讓您可以放鬆身心。
                    .col-xl-4.col-lg-4.col-md-9(data-bottom-center="transform:translateY(80px);opacity: 0;" data--120-bottom-center="transform:translateY(0px);opacity: 1;")
                        .item
                            h2 餐點品質承諾
                                .tittle
                            img(src="img/service_2.jpg")
                            p 選用新鮮食材，經精心烹製，為您帶來美味的輕食和糕點。每杯咖啡都經過嚴格挑選的咖啡豆和獨到的沖泡技巧，確保每一口都充滿豐富風味。
                    .col-xl-4.col-lg-4.col-md-9(data-bottom-center="transform:translateY(80px);opacity: 0;" data--120-bottom-center="transform:translateY(0px);opacity: 1;")
                        .item
                            h2 和日的待客之道
                                .tittle
                            img(src="img/service_3.jpg")
                            p 我們致力於營造親切、舒適的用餐環境，每位客人都受到熱情款待。我們的團隊專業有禮，樂意滿足您的需求，確保您在這裡感受到賓至如歸的溫馨。
        section#menu 
            .container
                h1(data-bottom-center="transform:translateX(-60px);opacity: 0;" data--240-bottom-center="transform:translateX(0px);opacity: 1;") 菜單
                    .tittle
                hr
                .row.menu 
                    //- .col-xl-4.col-lg-4.col-md-9(data-bottom-center="transform:translateY(40px);opacity: 0;" data--160-bottom-center="transform:translateY(0px);opacity: 1;")
                    //-     .item
                    //-         img(src="img/menu_1.jpg")
                    //-         h2 美式咖啡
                    //-             .tittle 
                    //-         p NT$ 120
                .row
                    .col-xl-12.center
                        a(href="menu.html")
                            .btn 更多品項
        section#location 
            .container
                h1(data-bottom-center="transform:translateX(-60px);opacity: 0;" data--480-bottom-center="transform:translateX(0px);opacity: 1;") 門市據點
                    .tittle
                hr
                .row.items
                    .col-xl-12.item
                        .col-xl-4.photo(data-bottom-top="transform:translateX(-60px);opacity: 0;" data--240-bottom-bottom="transform:translateX(0px);opacity: 1;")
                            img(src="img/location_1.jpg") 
                        .col-xl-8.col-lg-6.infos(data-bottom-top="transform:translateX(60px);opacity: 0;" data--240-bottom-bottom="transform:translateX(0px);opacity: 1;")
                            .article
                                h2 台北西門店
                                    .tittle
                                p 地址：台北市萬華區成都路斜角巷8號
                                    br
                                    |TEL：(02)1234-5678
                                    br
                                    |營業時間：9:00 ~ 11:00
                                    br
                                    |座席數：40
                                .tag 現金
                                .tag 信用卡
                                .tag 洗手間
                                .tag 提供 wi-fi
                    .col-xl-12.item
                        .col-xl-4.photo(data-bottom-top="transform:translateX(-60px);opacity: 0;" data--240-bottom-bottom="transform:translateX(0px);opacity: 1;")
                            img(src="img/location_2.jpg") 
                        .col-xl-8.col-lg-6.infos(data-bottom-top="transform:translateX(60px);opacity: 0;" data--240-bottom-bottom="transform:translateX(0px);opacity: 1;")
                            .article
                                h2 高雄美麗島店
                                    .tittle
                                p 地址：高雄市新興區民生一路斜角巷46號
                                    br
                                    |TEL：(07)8765-4321
                                    br
                                    |營業時間：7:00 ~ 9:00
                                    br
                                    |座席數：60
                                .tag 現金
                                .tag 信用卡
                                .tag 洗手間
                                .tag 提供 wi-fi
        footer.diable 
            .container
                .logo_footer 
                    .icon
                        img(src="img/logo_white.svg")
                    h1 
                        |和
                        span 日
                        |咖啡
                ul 
                    li
                        a(href="#about") 關於日和
                    li
                        a(href="menu.html") 菜單
                    li
                        a(href="#location") 門市據點
                    li
                        a(href="recruit.html") 人才招募
                    li
                        a(href="contact.html") 聯絡我們
                .info 地址：台北市OO區西門

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4' crossorigin='anonymous') 
        script(src='https://code.jquery.com/jquery-3.7.1.min.js' integrity='sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=' crossorigin='anonymous') 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
        script(src="js/index.js")
